<!DOCTYPE html>
<html>
    <head>
        <meta charset="pt-br">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro</title>
    </head>
    <body>
        <h2>{{ mensagem }}</h2>
            <div style="text-align: left;">
            {Nome}
            {{Cpf}}
            {{Email}}
            {{Telefone}}
            {{cep}}
            <br>
            <br>
            <br>
            </div>
    </body>
    <br>
    <footer><strong>Desenvolvido por Maapsystem</strong></footer>
</html>

