<!-- LOGIN  -->
<!DOCTYPE html>
<html>
    <head>
        <!-- <meta charset="pt-br"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <h2>{{ mensagem }}</h2>
        <form action="/form_teste", method="POST">
            <input type="text"     id="login" name="login"    autocomplete="off" />
            <input type="password" id="pwd"   name="password" autocomplete="off" />
            <button type="submit">Logar</button>
        </form>
    </body>
    <br>
    <footer><strong>Desenvolvido por Maapsystem</strong></footer>
</html>