<!DOCTYPE html>
<hthml>
    <head>
        <meta charset="pt-br">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulário POST</title>
    </head>
    <body>
        <h1>Formulário POST</h1>
        <form action="{{ url_for('receber') }}" method="post">
            Nome: <input type="text" name="nome"/> <br>
            Idade: <input type="text" name="idade"/> <br>
            
            <br><br>
            <input type="submit" value="Enviar" />
        </form>
    </body>
</html>